<h1 class="h1-custom">
	Please enter the information below
</h1>

</br>
<h2>
<%= simple_form_for @pic do |f| %>
  <div class="span3 offset0 boxy text-center">

  <%= f.input :lesson, label: 'What lesson are you on?' %>
  <%= f.input :emotion, label: 'How are you feeling?' %>
  <%= f.input :learned, label: 'What have you learned?' %>
  <%= submit_tag 'Save' %>

</h2>
	

  </div>

<% end %>

