 
<h2>
<%= simple_form_for @pic do |f| %>
  <div class="span6 offset4 boxy text-center">
	
		Please enter the information below
<h2>
		<br>
		<br>
  <%= f.input :lesson, label: 'What lesson are you on?', :placeholder => '1, 2, etc.,' %>
  <%= f.input :emotion, label: 'How are you feeling?', :placeholder => 'Happy, Super, Winning, etc.' %>
  <%= f.input :learned, label: 'What have you learned?', :placeholder => 'HTML 5, CSS3, GitHub, Rails' %>
  
  		<br>
  		<br>

  <%= submit_tag 'Save', :class => 'btn btn-primary btn-large' %>

  </div>

<% end %>

